[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/zsh28/whitelist-transfer-hook.git
[submodule "escrow-litesvm"]
	path = escrow-litesvm
	url = https://github.com/zsh28/escrow-litesvm
[submodule "magicblock-vrf"]
	path = magicblock-vrf
	url = https://github.com/zsh28/magicblock-vrf
[submodule "anchor-escrow-tuktuk"]
	path = anchor-escrow-tuktuk
	url = https://github.com/zsh28/anchor-escrow-tuktuk
[submodule "rust-concepts"]
	path = rust-concepts
	url = https://github.com/zsh28/rust-concepts
[submodule "solana-gpt-tuktuk"]
	path = solana-gpt-tuktuk
	url = https://github.com/zsh28/solana-gpt-tuktuk
