[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/zsh28/whitelist-transfer-hook.git
[submodule "escrow-litesvm"]
	path = escrow-litesvm
	url = https://github.com/zsh28/escrow-litesvm
